<script language="javascript" type="text/javascript" src="include/jquery-1.6.4.js"></script>
<script language="javascript" type="text/javascript" src="include/jquery-sticky-notes/script/jquery-ui-1.7.2.custom.min.js"></script>
<script language="javascript" type="text/javascript" src="include/jquery-sticky-notes/script/jquery.stickynotes.js"></script>
<link rel="stylesheet" href="include/jquery-sticky-notes/css/jquery.stickynotes.css" type="text/css">
<script type="text/javascript" language="javascript">
 $(document).ready(function() {
			var edited = function(note) {
			}
			var created = function(note) {
			}
			
			var deleted = function(note) {
			}
			
			var moved = function(note) {
			}	
			
			var resized = function(note) {
			}
			 
	var options = {
		notes:[{
			"id":1,
			"pos_x": 50,
			"pos_y": 50,
			"width": 400,
			"height": 500,
		}]
					,resizable: true
					,controls: true 
					,editCallback: edited
					,createCallback: created
					,deleteCallback: deleted
					,moveCallback: moved					
					,resizeCallback: resized					
	};				
	$('#notes').stickyNotes();
 });
</script>
<div id="notes" style="width: 1000px; height: 600px"> </div>
