<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{*not use. deprecated.*}
{config_load file="{$config.smarty}"}
{$form='assign_form'}{$submit='assign_submit'}{$msg='assign_msg'}
{$m0='m0'}{$m1='m1'}{$m2='m2'}{$a1='a1'}{$a2='a2'}
{$r = $data.record}

{if $data.self=='contents'}
  {include $config.templs.ASSIGN_MC} {*"assign_modules-contents.tpl.html"*}
{elseif $data.self=='contents'}
  {include $config.templs.ASSIGN_RC} {*"assign_resources-contents.tpl.html"*}
{elseif $data.self=='modules'}
  {include $config.templs.ASSIGN_CM} {*"assign_pages-modules.tpl.html"*}
{elseif $data.self=='resources'}
  {include file=$config.templs.ASSIGN_CR} {*"assign_contents-resources.tpl.html"*}
{/if}

<script language="javascript" type="text/javascript">
var form = '#{$form}';
var url = $(form).attr('action');
var submit = '#{$submit}';
var msg = '#{$msg}';
var m0 = '#{$m0}';
var m1 = '#{$m1}';
var m2 = '#{$m2}';
var a1 = '#{$a1}';
var a2 = '#{$a2}';
var uid = '{$data.userid}';
var wait1 = '{$config.list.wait1}';
var wait2 = '{$config.list.wait2}';

if($('#sites').length) {
  $('#sites').bind('change', function(e) {
	e.preventDefault(); 
	$('#modules').load(url, {'js_get_modules':1, 'site_id':$(this).val()});
	$('#divisions').load(url, {'js_get_divisions':1, 'site_id':$(this).val()});
	$(m0).load(url, {'js_get_resources_by_sid':1, 'site_id':$(this).val()});
	$(m1).get(0).innerHTML = '';
	$(m2)[0].innerHTML = '';
	return false;
  });
}

if($('#modules').length) {
  $('#modules').bind('change', function(e) {
  	e.preventDefault();
	$(m0).load(url, {'js_get_resources_by_mid':1, 'mid':$(this).val()});
	$(m1).get(0).innerHTML = '';
	$(m2)[0].innerHTML = '';
	$(m1).text('<option value=""><img src="images/spinner.gif" width="16" height="16" border="0"></option>');
	$(m2).append('<option>'+wait1+'</option>');
	return false;
  });
}

$(m0).click(function(e) {
	e.preventDefault();
	$.get(url, {rid: $(m0+' option:selected').val(), step: 1}, function(data) {
		$(m1)[0].innerHTML = '';
		$(m1).append(data);
	});
	$.get(url, {rid: $(m0+' option:selected').val(), step: 2}, function(data) {
		$(m2)[0].innerHTML = '';
		$(m2).append(data);
	});
	$(a1).attr("href", "javascript:void(0);");
	$(a2).attr("href", "javascript:void(0);");
	return false;
});

$(a1).click(function() {
	var t1 = $(m1+" option:selected");
	var t = '';
	for (i=0; i<t1.length; i++) {
		t += '<option value="' + $(t1[i]).val() + '">' + $(t1[i]).text() + '</option>'+"\n";
		$(m1+' option[value='+$(t1[i]).val()+']').empty().remove();
	}
	$(m2).append(t);
	$(submit).removeAttr("disabled");
});
$(a2).click(function() {
	var t1 = $(m2+" option:selected");
	var t = '';
	for (i=0; i<t1.length; i++) {
		t += '<option value="' + $(t1[i]).val() + '">' + $(t1[i]).text() + '</option>'+"\n";
		$(m2+' option[value='+$(t1[i]).val()+']').empty().remove();
	}
	$(m1).append(t);
	$(submit).removeAttr("disabled");
});

$(form).submit(function(e) {
	e.preventDefault();
	var all = $(m1+' option').map(function() {return $(this).val();}).get().join(",");
	$.ajax({
		type: $(form).attr('method'),
		url: url,
		data: 'rid='+$(m0+' option:selected').val()+'&js_update=1&mids='+all,
		beforeSend: function() {
			$(submit).hide();
			$(msg).show();
		},
		success: function(data) {
			$(submit).show();
			$(msg).hide();			
		}
	});
	return false;
});
</script>
