<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<base target="mainFrame">
<link href="{$config.path}css/pams-style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{$config.path}js/jquery-1.5.1.min.js"></script>
<script language="javascript" type="text/javascript" src="{$config.path}js/cookie.js"></script>
<script language="javascript" type="text/javascript" src="{$config.ipath}include/jquery-sticky-notes/script/jquery-ui-1.7.2.custom.min.js"></script>
<script language="javascript" type="text/javascript" src="include/jquery-sticky-notes/script/jquery.stickynotes.js"></script>
<link rel="stylesheet" href="{$config.ipath}include/jquery-sticky-notes/css/jquery.stickynotes.css" type="text/css">
</head>
<body>
<div id="{$config.browser_id}">
  <div id="header">
      <div id="upper">
        <span class="pamslogo1"></span>
        <div id="navLinks">
          <ul>
            {foreach $config.top as $entry}
            {if is_array($entry)}{$entry@key}
            {else}
            {if $entry@key=='Logout'}
            <li><a onclick="parent.document.location.href='{$entry}'" href="javascript:void(0);">{$entry@key}</a></li>
            {else}
            <li><a href="{$entry}">{$entry@key}</a></li>
            {/if}
            {/if}
            {/foreach}
            <li>
              <select id="changeTheme">
                <option value="default"> - Select Theme （选择） - </option>
                <option value="default"> Default </option>
                <option value="theme1" id="topt1">Theme 1</option>
              </select>
            </li>
          </ul>
        </div>
        <!--div id="notes" style="width:60%;height:100%; float:right"></div-->
      </div>
  </div>
</div>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	// $('#notes').stickyNotes();
	$('#changeTheme').change(function(e) {
		e.preventDefault();
		if( $.cookie("admin[username]") && $.cookie("admin[userpass]") ) {
			$.cookie("admin[path]", $(this).val());
			$.cookie("admin[theme]", $(this).val());
		}
		window.parent.location.href='index.php';
	});
	if( $.cookie("admin[theme]") ) {
		$("#changeTheme option[value='"+$.cookie("admin[theme]")+"']").attr('selected', 'selected');
	}
});
</script>
</body>
</html>
